.mdx-hero h1 {
    margin-bottom: 1.25rem;
    font-weight: 700;
    color: currentcolor;
  }
  
  @media screen and (max-width: 30em) {
    .mdx-hero h1 {
      font-size: 1.75rem;
    }
  }
  
  .mdx-hero__content {
    padding-bottom: 7.5rem;
  }
  
  @media screen and (min-width: 60em) {
    .mdx-hero {
      display: flex;
      align-items: stretch;
    }
  
    .mdx-hero__content {
      max-width: 23.75rem;
      padding-bottom: 14vw;
      margin-top: 4.375rem;
    }
  
    .mdx-hero__image {
      order: 1;
      width: 47.5rem;
      transform: translateX(5rem);
    }
  }
  
  @media screen and (min-width: 76.25em) {
    .mdx-hero__image {
      transform: translateX(10rem);
    }
  }